version: "3.9"

services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile.prod
    command: npm run start
    volumes: []
    ports: []
  
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/prod.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app